@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

$toolbox-size: 40px;
.Item {
  border: 1px solid var(--border-color);
  box-shadow: var(--default-box-shadow);
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  h6, p {
    color: var(--content-color);
  }
  &__img {
    background-color: var(--light-100);
    background-position: center;
    background-size: cover;
    box-shadow: 0 3px 13px -3px rgba(0, 0, 0, 0.5);
    left: -3px;
    padding-bottom: 103%;
    position: absolute;
    top: 0;
    transition: all 0.35s ease-out;
    width: calc(100% + 6px);
    z-index: 1;
  }
  &__toolbox {
    border-top: 1px solid var(--border-color);
    display: flex;
    height: $toolbox-size;
    justify-content: space-around;
    position: absolute;
    top: calc(100% - #{$toolbox-size});
    width: 100%;
    &__item {
      height: 100%;
      flex: 1;
      & > div, button {
        height: 100%;
        width: 100%;
      }
      .label {
        display: none;
      }
      .far {
        display: block;
      }
      &:hover {
        .label {
          display: block;
        }
        .far {
          display: none;
        }
      }
    }
  }
  &.Item--book {
    padding-bottom: 160%;
    .Item__img {
      padding-bottom: 163%;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    height: calc(100% - #{$toolbox-size});
    justify-content: center;
    overflow-y: auto;
    padding: 1rem;
    padding-top: 15%;
    position: absolute;
    top: 0;
    width: 100%;
    &__row {
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }
  &:hover {
    .Item__img {
      top: -93%;
    }
  }
}

@include media-breakpoint-down(sm) {
  .Item {
    display: flex;
    position: relative;
    padding-bottom: 0;
    &__img {
      flex: 1;
      padding-bottom: 0;
      position: relative;
      width: 100%;
    }
    &__content {
      flex: 4;
      justify-content: left;
      padding: 0.3rem;
      position: relative;
      &__row {
        text-align: left;
        margin-bottom: 0.2rem;
      }
    }
    &__toolbox {
      flex: 1;
      border-left: 1px solid var(--border-color);
      border-top: none;
      flex-direction: column;
      height: 100%;
      position: relative;
      right: 0;
      top: 0;
    }
  }
}
