.ItemImageForm {
  &, &__button {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    i {
      transition: all 0.3s ease-in;
    }
    &__text {
      size: 0;
      font-size: 0;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
  &__modal {
    input {
      height: 200px;
      width: 100%;
    }
    &__picture {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: inline-block;
      height: 100px;
      overflow: auto;
      white-space: nowrap;
      width: 100px;
    }
  }
  &:hover {
    .ItemImageForm {
      &__button {
        i {
          font-size: 0;
          transition: all 0s;
        }
        &__text {
          font-size: 16px;
          transition: all 0.3s ease-out;
        }
      }
    }
  }
}