@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.CollectionDetails {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  h2#{&}__title {
    align-items: center;
    display: inline-flex;
    font-size: 2.5rem;
    i {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
  &__add-item {
    &__link {
      cursor: pointer;
    }
  }
  @include media-breakpoint-down(sm) {
    &__header {
      flex-direction: column;
      &__buttons {
        padding: 1rem 0;
      }
    }
  }
}
