@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.CollectionDetails {
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 1rem;
    &__buttons {
      display: flex;
      & > div:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
  h2#{&}__title {
    align-items: center;
    display: inline-flex;
    font-size: 2.5rem;
    i {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
  &__add-item {
    &__link {
      cursor: pointer;
    }
  }
  @include media-breakpoint-down(sm) {
    &__header {
      display: flex;
      flex-direction: column; 
      justify-content: space-around;
      &__buttons {
        margin: 1rem 0;
        & > div {
          width: 45%;
        }
        button {
          width: 100%;
        }
      }
    }
  }
}
