@import '../../scss/mixins';

.Footer {
  align-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--shades);
  border-top: 1px solid var(--border-color);
  display: flex;
  height: 45px;
  justify-content: center;
  text-align: center;
  @include inner-content-width;
  &__icon {
    color: var(--content-color);
    font-size: 20px;
    padding: 0 6px;
  }
}