.container {
  margin-top: 20px;
}

a {
  color: var(--secondary-color);
  &:hover {
    color: var(--secondary-highlight-color);
  }
}

h2 {
  color: var(--content-color);
}

.btn {
  &-primary {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    &:hover, &:disabled {
      border: 1px solid var(--secondary-color);
      background-color: var(--secondary-highlight-color);
    }
  }
}
