.MuiFormControl-root, .MuiInputBase-root {
  width: 100%;
  margin-bottom: 1rem;
}

label.MuiFormLabel-root.Mui-focused {
  color: var(--secondary-color);
}

div.MuiInput-underline:after {
  border-bottom: 2px solid var(--secondary-color);
}

button.MuiButton-containedPrimary {
  background-color: var(--secondary-color);
  &:hover {
    background-color: var(--secondary-highlight-color);
  }
}

