.MuiFormControl-root {
  max-width: 100%;
}

label.MuiFormLabel-root.Mui-focused {
  color: var(--secondary-color);
}

.MuiButton-textPrimary {
  span.MuiButton-label {
    color: var(--secondary-color);
  }
}

h2.MuiTypography-h2 {
  font-size: 2.5rem;
}

div.MuiInput-underline:after {
  border-bottom: 2px solid var(--secondary-color);
}

button.MuiButton-containedPrimary {
  background-color: var(--secondary-color);
  &:hover {
    background-color: var(--secondary-highlight-color);
  }
}

button.MuiButton-textSecondary {
  color: var(--danger-color);
}
