:root {
  --primary-color: #4ABADB;
  --secondary-color: #A7438A;
  --secondary-highlight-color: #7C4887;
  --content-color: #575E75;
  --border-color:  #B9BABE;
  --shades: #EFEFEF;
  --light-100: white;
  --highlight-color: rgba(0, 0, 0, 0.04);
  --default-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);

  --drawer-width: 200px;
  --header-height: 65px;
}

@include media-breakpoint-down(sm) {
  :root {
    --drawer-width: 0px;
  }
}
