:root {
  --primary-color: #4ABADB;
  --secondary-color: #A46388;
  --secondary-highlight-color: #B06A91;
  --content-color: #575E75;
  --border-color:  #B9BABE;
  --shades: #EFEFEF;
  --light-100: white;
  --highlight-color: rgba(0, 0, 0, 0.04);
}